@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full scroll-smooth;
  }
}

html {
  overflow: hidden;
}

body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100dvh;
  overflow-y: overlay;
}


#app {
  height: 100%;
}